<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title><%= pageTitle %></title>
-->
<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="login-form" action="/signup" method="POST">
            <div class="form-control">
                <label for="name">Name</label>
                <input 
                    class=""
                    type="text" 
                    name="name" 
                    id="name" 
                    value="">
            </div>
            <div class="form-control">
                <label for="instrument">Instrument</label>
                <input 
                    class=""
                    type="text" 
                    name="instrument" 
                    id="instrument" 
                    value="">
            </div>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" value="">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" value="">
            </div>
            <div class="form-control">
                <label for="text">City</label>
                <input type="text" name="city" id="city" value="">
            </div>
            <div class="form-control">
                <label for="address">Address</Address></label>
                <textarea 
                    class="address"
                    name="address" 
                    id="address" 
                    rows="5"></textarea>
            </div>
            <input type="hidden" name="_csrf" value="">
            <button class="btn" type="submit">Signup</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>