.search-box__filters form {
    margin: 1rem;
    display:block;
}
  
.search-page {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.search-box {
    max-width: 280px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #363537;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 0 0 2rem 0;
  }
  
  .search-box button {
    display: block;
  }
  
  .search-results {
    padding: 0 1rem 1rem 1rem;
  }

  .card_musician {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin: 1rem 1rem 1rem 0;
    justify-content: center;
  }
  
  
  .card_header h1,
  .card_content h1,
  .card_content h2,
  .card_content p {
    margin: 0;
  }
  
  .card_image {
    width: 140px;
    height: 140px;
    border: 1px solid #363537;
    margin: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .card_image img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .card_actions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80px;
    align-items: center;
    justify-items: center;
    margin: 1rem .3rem 1rem .3rem;
  }

  .card_content {
      margin-top: 0.5rem;
      overflow-y: hidden;
      height: 140px;
  }

  .musician_instrument ul, .musician_genre ul {
    margin: 0;
  }
  
  .card_header .musician_name, .card_header .musician_city {
      font-size: 16px;
  }
  
  .form-control {
    margin: 0;
  }
    
  .form-control label,
  .form-control input,
  .form-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
    height: 2rem;
    padding: 0 0.5rem;
  }
  
  .form-control label {
    margin-bottom: -15px;
    text-transform: uppercase;
    padding: 0;
  }
  
  .form-control input {
    border: 0.2rem solid #F4EBD9;
    font: inherit;
  }
  
  .form-control input:focus {
    border: 0.2rem solid #363537;
    transition: all 0.5s ease;
  }
  
  .form-control input.invalid,
  .form-control textarea.invalid {
    border-color: #FF0035;
  }

  .form-error {
    color: crimson;
  }
  
  form .btn {
    background: linear-gradient(#F4EBD9, #F4EBB9);
    padding: 0.8rem 1.5rem;
    text-transform: uppercase; 
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    cursor: pointer;
  }
  
  .btn:active {
    background-color: #2FBF71;
  }
  
  .user-message {
    text-align: center;
    font-size: 3rem;
    font-family: inherit;
  }

  @media (min-width: 768px) {
  
      .search-page {
        display: flex;
        flex-direction: row;
      }
  
      .search-box {
        flex: 1;
        margin-right: 1rem;
      }

      .card_musician {
        display: flex;
        flex-direction: row;
      }

      .card_content {
        width: 200px;

      }
  
      .card_actions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80px;
        align-items: center;
        justify-items: center;
        margin: 1rem .3rem 1rem .3rem;
      }
  }